@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* CSS cho tiêu đề "Kết quả tìm kiếm" */
.search-results-title {
  margin-top: 30px;
  font-size: max(2vw, 24px);
  font-weight: 600;
  color: #262626; /* Hoặc var(--text-color-primary) */
}